:root {
    font-size: 16px;
  }
  [class^="LandingWrap"] {
    width: 100% !important;
    padding: 0;
  }
  #content-head > h1 {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  body {
    background-color: #000;
    /* overflow-x: hidden; */
  }
  .rm-LandingPage {
    max-width: 100%;
    overflow: hidden;
  }
  .rm-Header {
    background-color: #000 !important;
  }
  #content-container {
    max-width: 100%;
    overflow: hidden;
  }
  #content-head {
    font-size: 3rem;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    color: #fff
  }
  .docs {
    width: 100%;
  }
  .cards {
    width: 84rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.75rem;
  }

  .service-card {
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 25.875rem;
    height: 24rem;
    padding: 1.75rem;
    border-radius: 1.875rem;
    background: #34013f;
    transition: all .3s linear;
  }

  .service-card:hover {
    background-color: #000;
    box-shadow: 0px 4px 24px 0px #B700FF;
    transform: translate(-4px, -4px);
  }

  .service-card .title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: normal;
    white-space: nowrap;
    letter-spacing: 0;
    color: #fff;
  }
  .content {
    flex: 1;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: 0;
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .icon-wrapper {
    width: 6.25rem;
    height: 6.25rem;
  }

  .icon-wrapper > svg {
    width: 6.25rem;
    height: 6.25rem;
  }

  .icon {
    width: 100%;
    height: 100%;
  }

  .link {
    display: inline-block;
    height: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    gap: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #AD44FF !important;
    transform: translateY(-1.5rem);
  }

  .learn-more-text {
    transform: translateY(-1px);
  }
  .octicon {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.2s;
    transform: translateX(0);
  }
  .octicon-chevrow-stem {
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    transition: stroke-dashoffset 0.2s;
  }

  a:hover > svg {
    transform: translateX(.5rem);
  }

  a:hover > svg > .octicon-chevrow-stem {
    stroke-dashoffset: 20;
  }

  .learn-more-text {
    width: 100%;
    position: relative;
  }

  .learn-more-text::after {
    content: '';
    position: absolute;
    width: calc(100% + 1.25rem);
    transition: transform 0.3s ease;
    border-bottom: 2px solid #AD44FF;
    transform: scaleX(0);
    pointer-events: none;
    left: 0;
    bottom: 0;
    transform-origin: 0 0;
  }

  .learn-more-text:hover::after {
    transform: scaleX(1);
  }

  .other-products {
    height: 12.5rem;
  }

  .other-products-title {
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 200;
  }

  .other-products-list {
    display: flex;
    justify-content: space-between;
    width: 82rem;
    margin: 0 auto;
    align-items: center;
    position: relative;
    z-index: 200;
  }

  .other-products-link {
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    color: #FFFFFF;
    text-decoration: none !important;
    width: auto;
    position: relative;
  }

  .other-products-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease;
    border-bottom: 2px solid #fff;
    transform: scaleX(0);
    pointer-events: none;
    left: 0;
    bottom: 0;
    transform-origin: 0 0;
  }

  .other-products-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transition: transform 0.3s ease;
    border-bottom: 2px solid #fff;
    transform: scaleX(1);
    pointer-events: none;
    left: 0;
    bottom: 0;
    transform-origin: 0 0;
  }

  .dot {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: #fff;
  }

  .chains {
    width: 100%;
    height: 98.125rem;
    position: relative;
  }

  .chains > .animation-chains {
    width: 90rem;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 200;
  }

  .chains > .animation-background {
    position: absolute;
    width: 90rem;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-45rem);
    z-index: 100;
  }

  /* .chains > .chains-video {
    width: 90rem;
    display: block;
    margin: 0 auto;
  } */
  .sponsors {
    width: 100%;
    position: relative;
    margin-bottom: 7.5rem;
    z-index: 200;
  }
  .sponsors-title {
    font-size: 3.125rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    background: linear-gradient(90deg, #E85FD4 0%, #685FEE 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 100%;
    text-align: center;
  }
  .sponsors-img {
    width: 90rem;
    height: auto;
    margin: 0 auto;
  }
  .sponsors-img>img {
    width: 100%;
    height: auto;
  }

  .plug {
    width: 100%;
    margin-bottom: 1.25rem;
    height: 37.5rem;
    position: relative;
    z-index: 2;
    background: url('https://files.readme.io/c9195ea-poster1.png') no-repeat;
    background-size: 100% 100%;
  }

  .plug-logo {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0 auto;
    position: relative;
    z-index: 200;
  }

  .plug-logo>img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 200;
  }

  .footer-video {
    width: 100%;
    height: calc(100vw * 0.56);
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 1;
    opacity: 0.7;
  }

  .animation-text {
    width: 50rem;
    height: 7.5rem;
    margin: 0 auto;
    position: relative;
    z-index: 200;
  }

  .animation-text>img {
    width: 100%;
    height: 100%;
  }
  
  .footer-container {
    position: relative;
    width: 90rem;
    margin: 0 auto;
  }

  .wrapper {
    color: #fff;
    width: 75rem;
    margin: auto;
  }

  .row-1 {
    display: flex;
    padding-bottom: 6.25rem;
  }

  .col {
    flex: 1;
    text-align: left;
  }

  .col-1 {
    width: 25.625rem;
    margin-right: 8.75rem;
    flex: none;
  }

  .col-2 {
    min-width: 15rem;
  }
  
  .logo {
    width: 14.375rem;
    margin-bottom: 1.5rem;
  }

  .logo>img {
    width: 100%;
  }
  .icons {
    display: flex;
    gap: 1.25rem;
  }

  .icons> a > img {
    width: 2rem;
    height: 2rem;
  }

  .copy-write {
    font-size: .875rem;
    font-weight: 500;
    line-height: 50px;
    color: #848398;
    margin-top: 16px;
  }

  .title {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  .item {
    font-size: .875rem;
    font-weight: 400;
    line-height: 3;
  }

  .item > a {
    color: #848398 !important;
    text-decoration: none !important;
  }

  .item > a:hover {
    color: #fff !important;
  }
  .row-3 {
    display: flex;
    justify-content: center;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    width: 62.5rem;
    height: 6.25rem;
    position: relative;
  }
  .bg-content {
    width: 62.5rem;
    height: 6.25rem;
    max-width: 100vw;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: 0;
  }

  .wrap {
    width: 62.5rem;
    max-width: 100vw;
    height: 12.5rem;
    display: flex;
    justify-content: center;
  }

  .wrap > img {
    width: auto;
    height: 100%;
    position: relative;
  }

  .img {
    position: absolute;
    width: 2.875rem;
    left: 50%;
    top: 2.5rem;
    transform: translateX(-50%);
    z-index: 2;
  }

  .img > img {
    width: 100%;
  }

  .halo-top-right {
    position: absolute;
    z-index: 0;
    width: 50rem;
    height: 50rem;
    pointer-events: none;
    top: 0;
    right: 0;
  }
  .halo-top-right::after {
    position: absolute;
    top: -43.75rem;
    right: -43.75rem;
    width: 75rem;
    height: 75rem;
    background: radial-gradient(50% 50% at 50% 50%, #002ED2 0%, rgba(103, 0, 162, 0) 99%);
    content: '';
    pointer-events: none;
  }

  .halo-top-left {
    position: absolute;
    z-index: 0;
    width: 50rem;
    height: 50rem;
    pointer-events: none;
    top: 0;
    left: 0;
  }

  .halo-top-left::after {
    position: absolute;
    top: -43.75rem;
    left: -43.75rem;
    width: 75rem;
    height: 75rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(198, 5, 185, 0.8784) 0%, rgba(0, 22, 128, 0) 100%);
    content: '';
    pointer-events: none;
  }

  .halo-middle-left {
    position: absolute;
    z-index: 0;
    width: 50rem;
    height: 50rem;
    pointer-events: none;
    top: 12.5rem;
    left: 0;
  }

  .halo-middle-left::after {
    position: absolute;
    top: -37.5rem;
    left: -37.5rem;
    width: 62.5rem;
    height: 62.5rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(20, 103, 77, 0.8784) 0%, rgba(0, 22, 128, 0) 100%);
    content: '';
    pointer-events: none;
  }

  .halo-bottom-left {
    position: absolute;
    z-index: 0;
    width: 50rem;
    height: 50rem;
    pointer-events: none;
    top: 12.5rem;
    left: 0;
  }

  .halo-bottom-left::after {
    position: absolute;
    top: 0px;
    left: -37.5rem;
    width: 62.5rem;
    height: 1000px;
    background: radial-gradient(50% 50% at 50% 50%, #002ED2 0%, rgba(103, 0, 162, 0) 99%);
    content: '';
    pointer-events: none;
  }

  .halo-bottom-right {
    position: absolute;
    z-index: 0;
    width: 50rem;
    height: 50rem;
    pointer-events: none;
    top: 12.5rem;
    right: 0;
  }

  .halo-bottom-right::after {
    position: absolute;
    top: -37.5rem;
    right: -37.5rem;
    width: 62.5rem;
    height: 62.5rem;
    background: radial-gradient(50% 50% at 50% 50%, rgba(198, 5, 185, 0.8784) 0%, rgba(0, 22, 128, 0) 100%);
    content: '';
    pointer-events: none;
  }

  .item-aa-mobile {
    display: none;
  }
  @media screen and (min-width: 800px) and (max-width: 1920px) {
    :root {
      font-size: calc(100vw / 100 - 4px);
    }
  }
  @media screen and (max-width: 800px) {
    :root {
      font-size: 12px;
      width: 100vw;
    }

    .cards {
      width: 94vw;
    }

    .service-card {
      width: 14.6rem;
      height: 16rem;
    }

    .service-card > .title {
      font-size: 1.2rem;
    }

    .service-card > .content {
      font-size: 0.8rem;
    }
    .link {
      font-size: 1rem;
      transform: translateY(-0.4rem);
    }

    .icon-wrapper {
      width: 3rem;
      height: 3rem;
    }

    .icon-wrapper > svg {
      width: 3rem;
      height: 3rem;
    }


    .other-products-title {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    
    .other-products-list {
      width: 90vw;
      flex-direction: column;
      gap: 1.25rem;
    }

    .other-products-link {
      font-size: 1.125rem;
    }

    .dot {
      display: none;
    }

    .chains {
      height: auto;
    }
    .item-aa-mobile {
      display: block;
    }

    .chains > .animation-chains {
      width: 100vw;
      margin: 0 auto;
    }

    .chains > .animation-background {
      width: 100vw;
      top: 0;
      left: 0;
      transform: none;
    }

    /* .chains > .chains-video {
      width: 100vw;
      margin: 0 auto;
    } */

    .sponsors-title {
      font-size: 2rem;
      position: relative;
      z-index: 200;
    }

    .sponsors-img {
      width: 90vw;
      height: 30vw;
      margin: 0 auto;
    }

    .sponsors-img > img {
      height: auto;
    }

    .plug {
      height: 20rem;
    }

    .animation-text {
      width: 90vw;
      height: 20vw;
      margin: 0 auto;
    }

    .animation-text >img {
      height: auto;
    }

    .footer-video {
      z-index: 0;
      bottom: 0;
      width: 100vw;
      height: calc(100vw * 0.56);
      left: 50%;
      transform: translateX(-50%);
    }

    .footer-container {
      width: 100vw;
    }

    .wrapper {
      width: 100vw;
      padding: 20px 20px;
      padding-bottom: 0;
      position: relative;
      z-index: 200;
    }

    .col-1 {
      position: absolute;
      display: none;
    }

    .col-2 {
      min-width: 32%;
    }

    .col-2  .item {
      white-space: nowrap;
    }

    .col-4 {
      flex: 1;
    }

    .col-4  .item {
      white-space: nowrap;
    }

    .title {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .item {
      font-size: 0.7rem;
      line-height: 1.4;
    }

    .item-aa {
      display: none;
    }

    .halo-bottom-right {
      display: none;
    }

    #content-head {
      font-size: 1rem;
      position: relative;
      z-index: 200;
    }
    .halo-middle-left {
      top: 2rem;
    }
  }