{
  "openapi": "3.0.1",
  "info": {
    "title": "Particle Network BTC Connect",
    "version": "1.6.0"
  },
  "servers": [
    {
      "url": "https://rpc.particle.network/evm-chain"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/#particle_aa_getBTCAccount": {
      "post": {
        "summary": "Get BTC Account",
        "operationId": "getBTCAccount",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getBTCAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBTCAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/#particle_aa_getBTCAccountsByAddress": {
      "post": {
        "summary": "Get BTC Accounts By Address",
        "operationId": "getBTCAccountsByAddress",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/getBTCAccountsByAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getBTCAccountsByAddressResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "getBTCAccountRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "particle_aa_getBTCAccount",
            "default": "particle_aa_getBTCAccount"
          },
          "params": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "BTC",
                  "default": "BTC"
                },
                "version": {
                  "type": "string",
                  "example": "2.0.0",
                  "default": "2.0.0"
                },
                "btcPublicKey": {
                  "type": "string",
                  "example": "02f2ac735d9a0d1e5db8f6a6878ffb2a67d8415871c34df930cc2c03676f3a4eaa",
                  "default": "02f2ac735d9a0d1e5db8f6a6878ffb2a67d8415871c34df930cc2c03676f3a4eaa"
                },
                "btcAddress": {
                  "type": "string",
                  "example": "bc1qlyv3djgklwe0lm02a0265u4y8gg252cmut3j2u",
                  "default": "bc1qlyv3djgklwe0lm02a0265u4y8gg252cmut3j2u"
                }
              },
              "required": ["name", "version", "btcPublicKey", "btcAddress"]
            }
          }
        },
        "required": ["jsonrpc", "id", "method", "params"]
      },
      "getBTCAccountResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "chainId": {
                  "type": "integer"
                },
                "isDeployed": {
                  "type": "boolean",
                  "example": true
                },
                "eoaAddress": {
                  "type": "string"
                },
                "factoryAddress": {
                  "type": "string"
                },
                "entryPointAddress": {
                  "type": "string"
                },
                "smartAccountAddress": {
                  "type": "string"
                },
                "owner": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "version": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "btcPublicKey": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "getBTCAccountsByAddressRequest": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "particle_aa_getBTCAccountsByAddress",
            "default": "particle_aa_getBTCAccountsByAddress"
          },
          "params": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "btcAddress": {
                  "type": "string",
                  "example": "bc1qlyv3djgklwe0lm02a0265u4y8gg252cmut3j2u",
                  "default": "bc1qlyv3djgklwe0lm02a0265u4y8gg252cmut3j2u"
                }
              },
              "required": ["btcAddress"]
            }
          }
        },
        "required": ["jsonrpc", "id", "method", "params"]
      },
      "getBTCAccountsByAddressResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "btcAddress": {
                  "type": "string"
                },
                "chainId": {
                  "type": "integer"
                },
                "version": {
                  "type": "string"
                },
                "aaAddress": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                },
                "publicKey": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
