body {
    background-color: #242e34; /* Dark mode background */
    color: #ffffff; /* Light text color for readability */
}

.github-gallery-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.category {
    width: 100%;
    margin-bottom: 30px;
}

.category-header {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #cccccc; /* Light color for headings */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.repo {
    background: #2d3942; /* Dark mode card background */
    border: 1px solid #3f4954; /* Darker border for contrast */
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3), 0 0 10px rgba(0, 123, 255, 0.5); /* Adjusted for dark mode */
    border-radius: 10px;
}

.repo h2 {
    margin-top: 0;
    color: #e1e1e1; /* Lighter text color for headings */
}

.repo p {
    font-size: 0.9em;
    color: #cccccc; /* Lighter text color for paragraphs */
}

.repo a {
    text-decoration: none;
    color: #00b0ff; /* Bright link color for contrast */
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .category-header {
        font-size: 1.2em;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .repo p {
        font-size: 0.8em;
    }
}
