{
  "openapi": "3.0.0",
  "info": {
    "title": "Particle Network Enhanced RPC",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rpc.particle.network/evm-chain"
    }
  ],
  "paths": {
    "/#particle_crosschain_getNFTs": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "crosschainGetNFTs",
        "operationId": "crosschainGetNFTs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_crosschain_getNFTs"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "nfts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "isSemiFungible": {
                                    "type": "boolean"
                                  },
                                  "tokenId": {
                                    "type": "string"
                                  },
                                  "tokenBalance": {
                                    "type": "string"
                                  },
                                  "tokenURI": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getTokensAndNFTs": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getTokensAndNFTs",
        "operationId": "getTokensAndNFTs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getTokensAndNFTs"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "required": [
                            "native",
                            "tokens",
                            "nfts"
                          ],
                          "properties": {
                            "native": {
                              "type": "string"
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "decimals": {
                                    "type": "integer"
                                  },
                                  "amount": {
                                    "type": "string"
                                  },
                                  "address": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "nfts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "isSemiFungible": {
                                    "type": "boolean"
                                  },
                                  "tokenId": {
                                    "type": "string"
                                  },
                                  "tokenBalance": {
                                    "type": "string"
                                  },
                                  "tokenURI": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getTokens": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getTokens",
        "operationId": "getTokens",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getTokens"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "required": [
                            "native",
                            "tokens"
                          ],
                          "properties": {
                            "native": {
                              "type": "string"
                            },
                            "tokens": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "decimals": {
                                    "type": "integer"
                                  },
                                  "amount": {
                                    "type": "string"
                                  },
                                  "address": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getPrice": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getPrice",
        "operationId": "getPrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getPrice"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string"
                              },
                              "currencies": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "number"
                                    },
                                    "marketCap": {
                                      "type": "number"
                                    },
                                    "24hChange": {
                                      "type": "number"
                                    },
                                    "24hVol": {
                                      "type": "number"
                                    },
                                    "lastUpdatedAt": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_suggestedGasFees": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "suggestedGasFees",
        "operationId": "suggestedGasFees",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "properties": {
                      "method": {
                        "type": "string",
                        "default": "particle_suggestedGasFees",
                        "enum": [
                          "particle_suggestedGasFees"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "enum": [
                          []
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "low": {
                              "type": "object"
                            },
                            "medium": {
                              "type": "object"
                            },
                            "high": {
                              "type": "object"
                            },
                            "baseFee": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getTransactionsByAddress": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getTransactionsByAddress",
        "operationId": "getTransactionsByAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getTransactionsByAddress"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hash": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              },
                              "gasLimit": {
                                "type": "integer"
                              },
                              "timestamp": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "integer"
                              },
                              "nonce": {
                                "type": "integer"
                              },
                              "accessList": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "maxPriorityFeePerGas": {
                                "type": "string"
                              },
                              "maxFeePerGas": {
                                "type": "string"
                              },
                              "gasSpent": {
                                "type": "string"
                              },
                              "gasPrice": {
                                "type": "string"
                              },
                              "fees": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getPendingTransactionsByAddress": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getPendingTransactionsByAddress",
        "operationId": "getPendingTransactionsByAddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getPendingTransactionsByAddress"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "hash": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              },
                              "gasLimit": {
                                "type": "integer"
                              },
                              "timestamp": {
                                "type": "integer"
                              },
                              "status": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "integer"
                              },
                              "nonce": {
                                "type": "integer"
                              },
                              "accessList": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "maxPriorityFeePerGas": {
                                "type": "string"
                              },
                              "maxFeePerGas": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_abi_encodeFunctionCall": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "abiEncodeFunctionCall",
        "operationId": "abiEncodeFunctionCall",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "properties": {
                      "method": {
                        "type": "string",
                        "default": "particle_abi_encodeFunctionCall",
                        "enum": [
                          "particle_abi_encodeFunctionCall"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array"
                            }
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_abi_getContractAbi": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getContractABI",
        "operationId": "getContractABI",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "properties": {
                      "method": {
                        "type": "string",
                        "default": "particle_abi_getContractAbi",
                        "enum": [
                          "particle_abi_getContractAbi"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_deserializeTransaction": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "deserializeTransaction",
        "operationId": "deserializeTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "properties": {
                      "method": {
                        "type": "string",
                        "default": "particle_deserializeTransaction",
                        "enum": [
                          "particle_deserializeTransaction"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "estimatedChanges": {
                              "type": "object"
                            },
                            "data": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getLatestBlock": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getLatestBlock",
        "operationId": "getLatestBlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "method"
                    ],
                    "properties": {
                      "method": {
                        "type": "string",
                        "default": "particle_getLatestBlock",
                        "enum": [
                          "particle_getLatestBlock"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "enum": [
                          []
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "difficulty": {
                              "type": "string"
                            },
                            "extraData": {
                              "type": "string"
                            },
                            "gasLimit": {
                              "type": "string"
                            },
                            "gasUsed": {
                              "type": "string"
                            },
                            "hash": {
                              "type": "string"
                            },
                            "logsBloom": {
                              "type": "string"
                            },
                            "miner": {
                              "type": "string"
                            },
                            "mixHash": {
                              "type": "string"
                            },
                            "nonce": {
                              "type": "string"
                            },
                            "number": {
                              "type": "string"
                            },
                            "parentHash": {
                              "type": "string"
                            },
                            "receiptsRoot": {
                              "type": "string"
                            },
                            "sha3Uncles": {
                              "type": "string"
                            },
                            "size": {
                              "type": "string"
                            },
                            "stateRoot": {
                              "type": "string"
                            },
                            "timestamp": {
                              "type": "string"
                            },
                            "totalDifficulty": {
                              "type": "string"
                            },
                            "transactions": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "transactionsRoot": {
                              "type": "string"
                            },
                            "uncles": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "receipts": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/#particle_getNFTs": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "getNFTs",
        "operationId": "getNFTs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "jsonrpc",
                      "id",
                      "method",
                      "params",
                      "chainId"
                    ],
                    "properties": {
                      "jsonrpc": {
                        "type": "string",
                        "default": 2
                      },
                      "id": {
                        "type": "integer",
                        "default": 1
                      },
                      "method": {
                        "type": "string"
                      },
                      "chainId": {
                        "type": "integer",
                        "example": 80001
                      },
                      "params": {
                        "type": "array"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "enum": [
                          "particle_getNFTs"
                        ]
                      },
                      "params": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jsonrpc": {
                          "type": "string"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "result": {
                          "type": "object"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "nfts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "isSemiFungible": {
                                    "type": "boolean"
                                  },
                                  "tokenId": {
                                    "type": "string"
                                  },
                                  "tokenBalance": {
                                    "type": "string"
                                  },
                                  "tokenURI": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "image": {
                                    "type": "string"
                                  },
                                  "data": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "RPCRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params",
          "chainId"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "default": 2
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "method": {
            "type": "string"
          },
          "chainId": {
            "type": "integer",
            "example": 80001
          },
          "params": {
            "type": "array"
          }
        }
      },
      "RPCResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "GetTokensRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getTokens"
                ]
              },
              "params": {
                "type": "array",
                "items": {}
              }
            }
          }
        ]
      },
      "GetTokensAndNFTsRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getTokensAndNFTs"
                ]
              },
              "params": {
                "type": "array",
                "items": {}
              }
            }
          }
        ]
      },
      "GetTokensAndNFTsResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "required": [
                  "native",
                  "tokens",
                  "nfts"
                ],
                "properties": {
                  "native": {
                    "type": "string"
                  },
                  "tokens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "decimals": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "nfts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "isSemiFungible": {
                          "type": "boolean"
                        },
                        "tokenId": {
                          "type": "string"
                        },
                        "tokenBalance": {
                          "type": "string"
                        },
                        "tokenURI": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "GetTokensResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "required": [
                  "native",
                  "tokens"
                ],
                "properties": {
                  "native": {
                    "type": "string"
                  },
                  "tokens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "decimals": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "GetPriceRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getPrice"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "CrosschainGetNFTsRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_crosschain_getNFTs"
                ]
              },
              "params": {
                "type": "array",
                "items": {}
              }
            }
          }
        ]
      },
      "CrosschainGetNFTsResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "nfts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "isSemiFungible": {
                          "type": "boolean"
                        },
                        "tokenId": {
                          "type": "string"
                        },
                        "tokenBalance": {
                          "type": "string"
                        },
                        "tokenURI": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "GetPriceResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "currencies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "marketCap": {
                            "type": "number"
                          },
                          "24hChange": {
                            "type": "number"
                          },
                          "24hVol": {
                            "type": "number"
                          },
                          "lastUpdatedAt": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "SuggestedGasFeesRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "method"
            ],
            "properties": {
              "method": {
                "type": "string",
                "default": "particle_suggestedGasFees",
                "enum": [
                  "particle_suggestedGasFees"
                ]
              },
              "params": {
                "type": "array",
                "enum": [
                  []
                ]
              }
            }
          }
        ]
      },
      "SuggestedGasFeesResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "low": {
                    "type": "object"
                  },
                  "medium": {
                    "type": "object"
                  },
                  "high": {
                    "type": "object"
                  },
                  "baseFee": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "GetTransactionsByAddressRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getTransactionsByAddress"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "GetTransactionsByAddressResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "gasLimit": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "integer"
                    },
                    "nonce": {
                      "type": "integer"
                    },
                    "accessList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "maxPriorityFeePerGas": {
                      "type": "string"
                    },
                    "maxFeePerGas": {
                      "type": "string"
                    },
                    "gasSpent": {
                      "type": "string"
                    },
                    "gasPrice": {
                      "type": "string"
                    },
                    "fees": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "GetPendingTransactionsByAddressRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getPendingTransactionsByAddress"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "GetPendingTransactionsByAddressResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "hash": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "gasLimit": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "integer"
                    },
                    "nonce": {
                      "type": "integer"
                    },
                    "accessList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "maxPriorityFeePerGas": {
                      "type": "string"
                    },
                    "maxFeePerGas": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "ABIEncodeFunctionCallRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "method"
            ],
            "properties": {
              "method": {
                "type": "string",
                "default": "particle_abi_encodeFunctionCall",
                "enum": [
                  "particle_abi_encodeFunctionCall"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array"
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "ABIEncodeFunctionCallResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GetContractABIRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "method"
            ],
            "properties": {
              "method": {
                "type": "string",
                "default": "particle_abi_getContractAbi",
                "enum": [
                  "particle_abi_getContractAbi"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              }
            }
          }
        ]
      },
      "GetContractABIResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "string"
              }
            }
          }
        ]
      },
      "DeserializeTransactionRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "method"
            ],
            "properties": {
              "method": {
                "type": "string",
                "default": "particle_deserializeTransaction",
                "enum": [
                  "particle_deserializeTransaction"
                ]
              },
              "params": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "DeserializeTransactionResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "estimatedChanges": {
                    "type": "object"
                  },
                  "data": {
                    "type": "object"
                  }
                }
              }
            }
          }
        ]
      },
      "GetLatestBlockRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "method"
            ],
            "properties": {
              "method": {
                "type": "string",
                "default": "particle_getLatestBlock",
                "enum": [
                  "particle_getLatestBlock"
                ]
              },
              "params": {
                "type": "array",
                "enum": [
                  []
                ]
              }
            }
          }
        ]
      },
      "GetLatestBlockResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "difficulty": {
                    "type": "string"
                  },
                  "extraData": {
                    "type": "string"
                  },
                  "gasLimit": {
                    "type": "string"
                  },
                  "gasUsed": {
                    "type": "string"
                  },
                  "hash": {
                    "type": "string"
                  },
                  "logsBloom": {
                    "type": "string"
                  },
                  "miner": {
                    "type": "string"
                  },
                  "mixHash": {
                    "type": "string"
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "parentHash": {
                    "type": "string"
                  },
                  "receiptsRoot": {
                    "type": "string"
                  },
                  "sha3Uncles": {
                    "type": "string"
                  },
                  "size": {
                    "type": "string"
                  },
                  "stateRoot": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "string"
                  },
                  "totalDifficulty": {
                    "type": "string"
                  },
                  "transactions": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "transactionsRoot": {
                    "type": "string"
                  },
                  "uncles": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "receipts": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "GetNFTsRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "jsonrpc",
              "id",
              "method",
              "params",
              "chainId"
            ],
            "properties": {
              "jsonrpc": {
                "type": "string",
                "default": 2
              },
              "id": {
                "type": "integer",
                "default": 1
              },
              "method": {
                "type": "string"
              },
              "chainId": {
                "type": "integer",
                "example": 80001
              },
              "params": {
                "type": "array"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "enum": [
                  "particle_getNFTs"
                ]
              },
              "params": {
                "type": "array",
                "items": {}
              }
            }
          }
        ]
      },
      "GetNFTsResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "jsonrpc": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "result": {
                "type": "object"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "nfts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "isSemiFungible": {
                          "type": "boolean"
                        },
                        "tokenId": {
                          "type": "string"
                        },
                        "tokenBalance": {
                          "type": "string"
                        },
                        "tokenURI": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "image": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    }
  }
}