{
    "openapi": "3.0.0",
    "info": {
      "title": "Particle Network Bundler",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://bundler.particle.network"
      }
    ],
    "paths": {
      "/#eth_supportedEntryPoints": {
        "post": {
          "summary": "supportedEntryPoints",
          "operationId": "supportedEntryPoints",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedEntryPointsRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SupportedEntryPointsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#eth_estimateUserOperationGas": {
        "post": {
          "summary": "estimateUserOperationGas",
          "operationId": "estimateUserOperationGas",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateUserOperationGasRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EstimateUserOperationGasResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#eth_sendUserOperation": {
        "post": {
          "summary": "sendUserOperation",
          "operationId": "sendUserOperation",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendUserOperationRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SendUserOperationResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#eth_getUserOperationByHash": {
        "post": {
          "summary": "getUserOperationByHash",
          "operationId": "getUserOperationByHash",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserOperationByHashRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetUserOperationByHashResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#eth_getUserOperationReceipt": {
        "post": {
          "summary": "getUserOperationReceipt",
          "operationId": "getUserOperationReceipt",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserOperationReceiptRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetUserOperationReceiptResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "RPCRequest": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "method",
            "params",
            "chainId"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer",
              "default": 1
            },
            "chainId": {
              "type": "integer",
              "example": 80001
            },
            "method": {
              "type": "string"
            },
            "params": {
              "type": "array"
            }
          }
        },
        "RPCResponse": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "result",
            "chainId"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer",
              "default": 1
            },
            "chainId": {
              "type": "integer",
              "example": 80001
            },
            "result": {
              "type": "object"
            }
          }
        },
        "SupportedEntryPointsRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "eth_supportedEntryPoints"
                  ]
                },
                "params": {
                  "type": "array",
                  "maxItems": 0
                }
              }
            }
          ]
        },
        "SupportedEntryPointsResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          ]
        },
        "EstimateUserOperationGasRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "eth_estimateUserOperationGas"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "sender": {
                            "type": "string"
                          },
                          "nonce": {
                            "type": "string"
                          },
                          "initCode": {
                            "type": "string"
                          },
                          "callData": {
                            "type": "string"
                          },
                          "signature": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "EstimateUserOperationGasResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "maxFeePerGas": {
                      "type": "string"
                    },
                    "maxPriorityFeePerGas": {
                      "type": "string"
                    },
                    "preVerificationGas": {
                      "type": "string"
                    },
                    "verificationGas": {
                      "type": "string"
                    },
                    "verificationGasLimit": {
                      "type": "string"
                    },
                    "callGasLimit": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          ]
        },
        "SendUserOperationRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "eth_sendUserOperation"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "sender": {
                            "type": "string"
                          },
                          "nonce": {
                            "type": "string"
                          },
                          "initCode": {
                            "type": "string"
                          },
                          "callData": {
                            "type": "string"
                          },
                          "callGasLimit": {
                            "type": "string"
                          },
                          "verificationGasLimit": {
                            "type": "string"
                          },
                          "maxFeePerGas": {
                            "type": "string"
                          },
                          "maxPriorityFeePerGas": {
                            "type": "string"
                          },
                          "paymasterAndData": {
                            "type": "string"
                          },
                          "preVerificationGas": {
                            "type": "string"
                          },
                          "signature": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "SendUserOperationResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string"
                }
              }
            }
          ]
        },
        "GetUserOperationByHashRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "eth_getUserOperationByHash"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          ]
        },
        "GetUserOperationByHashResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "userOperation": {
                      "type": "object"
                    },
                    "entryPoint": {
                      "type": "string"
                    },
                    "transactionHash": {
                      "type": "string"
                    },
                    "blockHash": {
                      "type": "string"
                    },
                    "blockNumber": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          ]
        },
        "GetUserOperationReceiptRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "eth_getUserOperationReceipt"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          ]
        },
        "GetUserOperationReceiptResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "userOpHash": {
                      "type": "string"
                    },
                    "sender": {
                      "type": "string"
                    },
                    "nonce": {
                      "type": "string"
                    },
                    "actualGasCost": {
                      "type": "string"
                    },
                    "actualGasUsed": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "logs": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "receipt": {
                      "type": "object"
                    },
                    "isPending": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          ]
        }
      }
    }
  }