{
    "openapi": "3.0.0",
    "info": {
      "title": "Particle Network Enhanced RPC Solana",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://rpc.particle.network/solana"
      }
    ],
    "security": [
      {
        "basicAuth": []
      }
    ],
    "paths": {
      "/#enhancedGetPrice": {
        "post": {
          "summary": "enhancedGetPrice",
          "operationId": "enhancedGetPrice",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedGetPriceRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnhancedGetPriceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#enhancedGetTokensAndNFTs": {
        "post": {
          "summary": "enhancedGetTokensAndNFTs",
          "operationId": "enhancedGetTokensAndNFTs",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedGetTokensAndNFTsRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnhancedGetTokensAndNFTsResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#enhancedGetTransactionsByAddress": {
        "post": {
          "summary": "enhancedGetTransactionsByAddress",
          "operationId": "enhancedGetTransactionsByAddress",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhancedGetTransactionsByAddressRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EnhancedGetTransactionsByAddressResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "basicAuth": {
          "type": "http",
          "scheme": "basic"
        }
      },
      "schemas": {
        "RPCRequest": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "method",
            "params",
            "chainId"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer",
              "default": 1
            },
            "chainId": {
              "type": "integer",
              "example": 101
            },
            "method": {
              "type": "string"
            },
            "params": {
              "type": "array"
            }
          }
        },
        "RPCResponse": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "result",
            "chainId"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer",
              "default": 1
            },
            "chainId": {
              "type": "integer",
              "example": 101
            },
            "result": {
              "type": "object"
            }
          }
        },
        "EnhancedGetPriceRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "enhancedGetPrice"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          ]
        },
        "EnhancedGetPriceResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string"
                      },
                      "currencies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "price": {
                              "type": "number"
                            },
                            "marketCap": {
                              "type": "number"
                            },
                            "24hChange": {
                              "type": "number"
                            },
                            "24hVol": {
                              "type": "number"
                            },
                            "lastUpdatedAt": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "EnhancedGetTokensAndNFTsRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "enhancedGetTokensAndNFTs"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "accountAddress": {
                            "type": "string",
                            "example": "6XU36wCxWobLx5Rtsb58kmgAJKVYmMVqy4SHXxENAyAe"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "options": {
                            "type": "object",
                            "properties": {
                              "parseMetadataUri": {
                                "type": "boolean",
                                "default": false
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "EnhancedGetTokensAndNFTsResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "lamports": {
                      "type": "integer"
                    },
                    "nfts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mint": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "isSemiFungible": {
                            "type": "boolean"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "sellerFeeBasisPoints": {
                            "type": "integer"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "integer"
                              },
                              "updateAuthority": {
                                "type": "string"
                              },
                              "mint": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "symbol": {
                                    "type": "string"
                                  },
                                  "uri": {
                                    "type": "string"
                                  },
                                  "sellerFeeBasisPoints": {
                                    "type": "integer"
                                  },
                                  "creators": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string"
                                        },
                                        "verified": {
                                          "type": "boolean"
                                        },
                                        "share": {
                                          "type": "integer"
                                        }
                                      }
                                    }
                                  },
                                  "uriData": {
                                    "type": "object"
                                  }
                                }
                              },
                              "primarySaleHappened": {
                                "type": "boolean"
                              },
                              "isMutable": {
                                "type": "boolean"
                              },
                              "editionNonce": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "decimals": {
                            "type": "integer"
                          },
                          "amount": {
                            "type": "integer"
                          },
                          "address": {
                            "type": "string"
                          },
                          "mint": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "EnhancedGetTransactionsByAddressRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "enhancedGetTransactionsByAddress"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "accountAddress": {
                            "type": "string",
                            "example": "6XU36wCxWobLx5Rtsb58kmgAJKVYmMVqy4SHXxENAyAe"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "options": {
                            "type": "object",
                            "properties": {
                              "limit": {
                                "type": "integer"
                              },
                              "before": {
                                "type": "string"
                              },
                              "until": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "EnhancedGetTransactionsByAddressResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "unknown",
                          "transfer-token"
                        ]
                      },
                      "lamportsChange": {
                        "type": "integer"
                      },
                      "lamportsFee": {
                        "type": "integer"
                      },
                      "signature": {
                        "type": "string"
                      },
                      "blockTime": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "success",
                          "failed"
                        ]
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "mint": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "integer"
                          },
                          "amountTransfered": {
                            "type": "integer"
                          },
                          "sender": {
                            "type": "string"
                          },
                          "receiver": {
                            "type": "string"
                          },
                          "senderAssociatedTokenAddress": {
                            "type": "string"
                          },
                          "receiverAssociatedTokenAddress": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        }
      }
    },
    "x-readme": {
      "explorer-enabled": true,
      "proxy-enabled": true
    }
  }