{
    "openapi": "3.0.0",
    "info": {
      "title": "Particle Market API",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api-market.particle.network"
      }
    ],
    "paths": {
      "/chains/{chainId}/tracking": {
        "post": {
          "summary": "trackCollection",
          "operationId": "trackCollection",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackCollectionRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TrackCollectionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}": {
        "get": {
          "summary": "getCollectionList",
          "operationId": "getCollectionList",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CollectionListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}": {
        "get": {
          "summary": "getCollection",
          "operationId": "getCollection",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CollectionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/activity": {
        "get": {
          "summary": "getCollectionActivities",
          "operationId": "getCollectionActivities",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/myActivity": {
        "get": {
          "summary": "getCollectionActivitiesByAddress",
          "operationId": "getCollectionActivitiesByAddress",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "address",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "example": 40926266145
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/refresh": {
        "post": {
          "summary": "refreshCollectionMetadata",
          "operationId": "refreshCollectionMetadata",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RefreshMetadataResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/tokens": {
        "get": {
          "summary": "getCollectionTokens",
          "operationId": "getCollectionTokens",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string",
                "example": {
  
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TokenListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/tokens/count": {
        "get": {
          "summary": "getCollectionTokenCount",
          "operationId": "getCollectionTokenCount",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string",
                "example": {
  
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TokenCountResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/tokens/{tokenId}": {
        "get": {
          "summary": "getToken",
          "operationId": "getToken",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "tokenId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "forceUpdate",
              "in": "query",
              "schema": {
                "type": "boolean",
                "example": true
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TokenResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/contractAddress/{contractAddress}/tokens/{tokenId}/activity": {
        "get": {
          "summary": "getTokenActivities",
          "operationId": "getTokenActivities",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "contractAddress",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 4886718345
              }
            },
            {
              "name": "tokenId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 100
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivityListResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/orders": {
        "post": {
          "summary": "uploadOrder",
          "operationId": "uploadOrder",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadOrderRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UploadOrderResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/chains/{chainId}/orders/build": {
        "post": {
          "summary": "buildOrder",
          "operationId": "buildOrder",
          "parameters": [
            {
              "name": "chainId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "params",
              "in": "query",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "projectUuid": {
                    "type": "string",
                    "example": "abc123"
                  },
                  "projectKey": {
                    "type": "string",
                    "example": "def456"
                  }
                }
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildOrderRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/BuildOrderResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "GeneralResponse": {
          "type": "object",
          "properties": {
            "error_code": {
              "type": "integer",
              "example": 0
            },
            "data": {
              "type": "object",
              "example": {
  
              }
            }
          }
        },
        "TrackCollectionRequest": {
          "type": "object",
          "properties": {
            "params": {
              "type": "object",
              "properties": {
                "projectUuid": {
                  "type": "string"
                },
                "projectKey": {
                  "type": "string"
                }
              }
            }
          }
        },
        "TrackCollectionResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          ]
        },
        "CollectionListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "isLastPage": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "CollectionResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          ]
        },
        "ActivityListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "isLastPage": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "RefreshMetadataResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          ]
        },
        "TokenListResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "isLastPage": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "TokenCountResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          ]
        },
        "TokenResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/GeneralResponse"
            },
            {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            }
          ]
        },
        "UploadOrderRequest": {
          "type": "object",
          "properties": {
            "order": {
              "type": "object"
            }
          }
        },
        "UploadOrderResponse": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean"
            }
          }
        },
        "BuildOrderRequest": {
          "type": "object",
          "properties": {
            "fromAddress": {
              "type": "string"
            },
            "tokenAddress": {
              "type": "string"
            },
            "tokenId": {
              "type": "string"
            },
            "price": {
              "type": "string"
            },
            "currency": {
              "type": "string"
            }
          }
        },
        "BuildOrderResponse": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    }
  }