{
  "openapi": "3.1.0",
  "info": {
    "title": "Particle IPFS Gateway",
    "version": "1.6"
  },
  "servers": [
    {
      "url": "https://ipfs.particle.network"
    }
  ],
  "paths": {
    "/ipfs/upload": {
      "post": {
        "summary": "Upload file to IPFS",
        "description": "Uploads a file to IPFS via Particle Network's IPFS Gateway",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cid": {
                      "type": "string",
                      "description": "Content Identifier (CID) of the uploaded file"
                    },
                    "ipfs": {
                      "type": "string",
                      "description": "IPFS URL of the uploaded file"
                    },
                    "fastUrl": {
                      "type": "string",
                      "description": "A faster URL to access the uploaded file"
                    },
                    "ipfsUrl": {
                      "type": "string",
                      "description": "IPFS URL of the uploaded file"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of URLs for the uploaded file"
                    }
                  },
                  "required": ["cid", "ipfs", "fastUrl", "ipfsUrl", "urls"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/ipfs/upload_json": {
      "post": {
        "summary": "Upload JSON to IPFS",
        "description": "Uploads JSON data to IPFS via Particle Network's IPFS Gateway",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON data uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cid": {
                      "type": "string",
                      "description": "Content Identifier (CID) of the uploaded JSON data"
                    },
                    "ipfs": {
                      "type": "string",
                      "description": "IPFS URL of the uploaded JSON data"
                    },
                    "fastUrl": {
                      "type": "string",
                      "description": "A faster URL to access the uploaded JSON data"
                    },
                    "ipfsUrl": {
                      "type": "string",
                      "description": "IPFS URL of the uploaded JSON data"
                    },
                    "urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of URLs for the uploaded JSON data"
                    }
                  },
                  "required": ["cid", "ipfs", "fastUrl", "ipfsUrl", "urls"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/{cid}": {
      "get": {
        "summary": "Get details of uploaded file",
        "description": "Fetches details of an uploaded file using its CID",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Content Identifier (CID) of the uploaded file"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the uploaded file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the asset"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the asset"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "artist": {
                          "type": "string",
                          "description": "Artist of the asset"
                        },
                        "scarcity": {
                          "type": "string",
                          "description": "Scarcity of the asset"
                        },
                        "format": {
                          "type": "string",
                          "description": "Format of the asset"
                        },
                        "theme": {
                          "type": "string",
                          "description": "Theme of the asset"
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Tags associated with the asset"
                    },
                    "asset_type": {
                      "type": "string",
                      "description": "Type of the asset"
                    },
                    "asset_size_in_bytes": {
                      "type": "integer",
                      "description": "Size of the asset in bytes"
                    },
                    "production_year": {
                      "type": "string",
                      "description": "Production year of the asset"
                    },
                    "artist": {
                      "type": "string",
                      "description": "Artist of the asset"
                    },
                    "external_uri": {
                      "type": "string",
                      "description": "External URI of the asset"
                    },
                    "image": {
                      "type": "string",
                      "description": "Image of the asset"
                    }
                  },
                  "required": ["name", "description", "attributes", "tags", "asset_type", "asset_size_in_bytes", "production_year", "artist", "external_uri", "image"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{cid}__{width}x{height}": {
      "get": {
        "summary": "Get image with specific dimensions",
        "description": "Fetches an image with specific width and height using its CID",
        "parameters": [
          {
            "name": "cid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Content Identifier (CID) of the image"
          },
          {
            "name": "width",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Width of the image after cropping, in pixels"
          },
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Height of the image after cropping, in pixels"
          }
        ],
        "responses": {
          "200": {
            "description": "Cropped image retrieved successfully",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
