{
    "openapi": "3.0.0",
    "info": {
      "title": "Particle Network Enhanced RPC Swap",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://rpc.particle.network/evm-chain"
      }
    ],
    "security": [
      {
        "basicAuth": []
      }
    ],
    "paths": {
      "/#particle_swap_checkApprove": {
        "post": {
          "summary": "checkApprove",
          "operationId": "checkApprove",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckApproveRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CheckApproveResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#particle_swap_getQuote": {
        "post": {
          "summary": "getQuote",
          "operationId": "getQuote",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuoteRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetQuoteResponse"
                  }
                }
              }
            }
          }
        }
      },
      "/#particle_swap_getSwap": {
        "post": {
          "summary": "getSwap",
          "operationId": "getSwap",
          "security": [
            {
              "basicAuth": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSwapRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/GetSwapResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "basicAuth": {
          "type": "http",
          "scheme": "basic"
        }
      },
      "schemas": {
        "RPCRequest": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "method",
            "params"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer"
            },
            "chainId": {
              "type": "integer",
              "default": 1
            }
          }
        },
        "RPCResponse": {
          "type": "object",
          "required": [
            "jsonrpc",
            "id",
            "result"
          ],
          "properties": {
            "jsonrpc": {
              "type": "string",
              "default": 2
            },
            "id": {
              "type": "integer"
            },
            "result": {
              "type": "object"
            },
            "chainId": {
              "type": "integer",
              "default": 1
            }
          }
        },
        "CheckApproveRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "particle_swap_checkApprove"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "0x369aa8a7a7BE683E1a46d9A056806B2B3FD778C8"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "tokenAddress": {
                            "type": "string",
                            "example": "0x111111111117dc0aa78b770fa6a738034120c302"
                          },
                          "amount": {
                            "type": "string",
                            "example": "1000000000"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "CheckApproveResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "approved": {
                      "type": "boolean"
                    },
                    "tx": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "example": "0x111111111117dC0aa78b770fA6A738034120C302"
                        },
                        "data": {
                          "type": "string",
                          "example": "0x095ea7b30000000000000000000000001111111254fb6c44bac0bed2854e76f90643097d000000000000000000000000000000000000000000000000000000003b9aca00"
                        },
                        "value": {
                          "type": "string",
                          "example": "0x0"
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "GetQuoteRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "particle_swap_getQuote"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "0x369aa8a7a7BE683E1a46d9A056806B2B3FD778C8"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "fromTokenAddress": {
                            "type": "string",
                            "example": "0x111111111117dc0aa78b770fa6a738034120c302"
                          },
                          "toTokenAddress": {
                            "type": "string",
                            "example": "0x6B175474E89094C44Da98b954EedeAC495271d0F"
                          },
                          "amount": {
                            "type": "string",
                            "example": "1000000000"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "GetQuoteResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "fromToken": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "toToken": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "toTokenAmount": {
                      "type": "string",
                      "example": "781970036"
                    },
                    "fromTokenAmount": {
                      "type": "string",
                      "example": "1000000000"
                    },
                    "estimatedGas": {
                      "type": "string",
                      "example": "0x4079f"
                    }
                  }
                }
              }
            }
          ]
        },
        "GetSwapRequest": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCRequest"
            },
            {
              "type": "object",
              "properties": {
                "method": {
                  "enum": [
                    "particle_swap_getSwap"
                  ]
                },
                "params": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "0x369aa8a7a7BE683E1a46d9A056806B2B3FD778C8"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "fromTokenAddress": {
                            "type": "string",
                            "example": "0x111111111117dc0aa78b770fa6a738034120c302"
                          },
                          "toTokenAddress": {
                            "type": "string",
                            "example": "0x6B175474E89094C44Da98b954EedeAC495271d0F"
                          },
                          "amount": {
                            "type": "string",
                            "example": "1000000000"
                          },
                          "slippage": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          ]
        },
        "GetSwapResponse": {
          "allOf": [
            {
              "$ref": "#/components/schemas/RPCResponse"
            },
            {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "fromToken": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "toToken": {
                      "$ref": "#/components/schemas/TokenInfo"
                    },
                    "toTokenAmount": {
                      "type": "string",
                      "example": "781970036"
                    },
                    "fromTokenAmount": {
                      "type": "string",
                      "example": "1000000000"
                    },
                    "tx": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "example": "0x1111111254fb6c44bAC0beD2854e76F90643097d"
                        },
                        "data": {
                          "type": "string",
                          "example": "0x000"
                        },
                        "value": {
                          "type": "string",
                          "example": "0x0"
                        }
                      }
                    }
                  }
                }
              }
            }
          ]
        },
        "TokenInfo": {
          "type": "object",
          "properties": {
            "chainId": {
              "type": "integer",
              "example": 1
            },
            "address": {
              "type": "string",
              "example": "0x6B175474E89094C44Da98b954EedeAC495271d0F"
            },
            "symbol": {
              "type": "string",
              "example": "DAI"
            },
            "name": {
              "type": "string",
              "example": "Dai Stablecoin"
            },
            "decimals": {
              "type": "integer",
              "example": 18
            },
            "logoURI": {
              "type": "string",
              "example": "https://static.particle.network/token-list/ethereum/0x6B175474E89094C44Da98b954EedeAC495271d0F.png"
            }
          }
        }
      }
    },
    "x-readme": {
      "explorer-enabled": true,
      "proxy-enabled": true
    }
  }